/* 初始化icon */
.icon {
    width: 1.2em; height: 1.2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/* 主页 样式 */
#navbar {
    background-color: #20B2AA;
}
.form-bnt button{
    width: 80px;
    color: #1a1a1a !important;
    margin-right: 10px;
}
.form-select button{
    color: #1a1a1a !important;
    margin-right: 10px;
}
.top-menu-home{
    width: 1.5em !important;
    height: 1.5em !important;
    margin-right: 7px;
    margin-bottom: -3px;
}

.left-menu{
    width: 1.5em !important;
    height: 1.5em !important;
    margin-right: 10px;
    margin-left: 6px;
    margin-bottom: -3px
}
.li-A:hover,
.li-A:active{
    text-decoration:none !important;
}
/* 右上角设置*/
.navbar-header .pull-right{
    width: 50%;
}
#login-a{
    font-size: 13px;
    background-color: #20B2AA !important;
    width: 280px;
    max-width : 1000px;
}
#login-a:hover{
    background-color: #008B8B !important;
}

.user-info{
    padding-top: 8px;
    padding-right: 200px;
}
#login-svg{
    font-size: 18px;
    position: relative;
    top: 3px;
    right: 3px;
}
/* 设置分页 修改和删除  按钮样式 */
.page-button {
    background-color: transparent !important;
    border: transparent !important;
    width: 40px !important;
    height: 40px;
    padding: 0;
    border-radius: 50%;
}
/* 鼠标点击 */
.page-button:focus {
    background-color: transparent !important;
    border: transparent !important;
    outline: none;
}
/* 鼠标移入 */
.page-button:hover {
    background-color: transparent !important;
    border: transparent !important;
    outline: none;
}
/* 鼠标移入svg放大 */
.page-button svg:hover {
    width: 28px;
    height: 28px;
}
/* icon大小 */
.page-button svg {
    width: 15px;
    height: 15px;
}

/*  由于和 ui.jqgrid.css 重叠  */
/*  jquery ui  样式*/
.ui-jqgrid-bdiv{
    overflow-x: hidden !important;
}
.jqTable tr{
    border-color: #d0d0d0 !important;
}

.jqTable .ui-widget-content{
    height: 40px !important;
}
.ui-jqgrid .ui-jqgrid-htable th div{
    height: 40px !important;
}
.ui-jqgrid-btable .ui-widget-content .ui-state-highlight{
    background-color: #20B2AA !important;
}
.modal-jqTable td{
    font-size: 10px;
}

/* 菜单设置页面 树形样式设置 */
.tree-wrap-ltr{
    margin-right: 10px;
}
.tree-minus{

    background-image: url("../../images/jianhao.png") !important;
    background-size: 80% 100% !important;
}

.tree-plus{
    background-image: url("../../images/jiahao.png") !important;
}
