<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csd.system.user.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.csd.system.user.po.User">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_org_id" jdbcType="VARCHAR" property="userOrgId" />
    <result column="user_dep_id" jdbcType="VARCHAR" property="userDepId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="user_is_valid" jdbcType="VARCHAR" property="userIsValid" />
    <result column="user_is_active" jdbcType="VARCHAR" property="userIsActive" />
    <result column="user_number" jdbcType="INTEGER" property="userNumber" />
    <result column="user_native_place" jdbcType="VARCHAR" property="userNativePlace" />
    <result column="user_id_number" jdbcType="VARCHAR" property="userIdNumber" />
    <result column="user_state" jdbcType="VARCHAR" property="userState" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="user_notice" jdbcType="VARCHAR" property="userNotice" />
    <result column="user_head_url" jdbcType="VARCHAR" property="userHeadUrl" />
    <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime" />
    <result column="user_update_time" jdbcType="TIMESTAMP" property="userUpdateTime" />
    <result column="user_create_user_id" jdbcType="VARCHAR" property="userCreateUserId" />
    <result column="user_create_user_name" jdbcType="VARCHAR" property="userCreateUserName" />
    <result column="user_update_user_id" jdbcType="VARCHAR" property="userUpdateUserId" />
    <result column="user_update_user_name" jdbcType="VARCHAR" property="userUpdateUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_org_id, user_dep_id, user_name, user_phone, user_password, user_sex, 
    user_address, user_is_valid, user_is_active, user_number, user_native_place, user_id_number, 
    user_state, user_type, user_notice, user_head_url,
    DATE_FORMAT(user_create_time,'%Y-%m-%d %T') user_create_time,
    DATE_FORMAT(user_update_time,'%Y-%m-%d %T') user_update_time,
    user_create_user_id, user_create_user_name, user_update_user_id, user_update_user_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from w_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.csd.system.user.po.User">
    insert into w_user (user_id, user_org_id, user_dep_id, 
      user_name, user_phone, user_password, 
      user_sex, user_address, user_is_valid, 
      user_is_active, user_number, user_native_place, 
      user_id_number, user_state, user_type, 
      user_notice, user_head_url, user_create_time, 
      user_update_time, user_create_user_id, user_create_user_name, 
      user_update_user_id, user_update_user_name)
    values (#{userId,jdbcType=VARCHAR}, #{userOrgId,jdbcType=VARCHAR}, #{userDepId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, #{userIsValid,jdbcType=VARCHAR}, 
      #{userIsActive,jdbcType=VARCHAR}, #{userNumber,jdbcType=INTEGER}, #{userNativePlace,jdbcType=VARCHAR}, 
      #{userIdNumber,jdbcType=VARCHAR}, #{userState,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, 
      #{userNotice,jdbcType=VARCHAR}, #{userHeadUrl,jdbcType=VARCHAR}, #{userCreateTime,jdbcType=TIMESTAMP}, 
      #{userUpdateTime,jdbcType=TIMESTAMP}, #{userCreateUserId,jdbcType=VARCHAR}, #{userCreateUserName,jdbcType=VARCHAR}, 
      #{userUpdateUserId,jdbcType=VARCHAR}, #{userUpdateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.csd.system.user.po.User">
    insert into w_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userOrgId != null">
        user_org_id,
      </if>
      <if test="userDepId != null">
        user_dep_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="userIsValid != null">
        user_is_valid,
      </if>
      <if test="userIsActive != null">
        user_is_active,
      </if>
      <if test="userNumber != null">
        user_number,
      </if>
      <if test="userNativePlace != null">
        user_native_place,
      </if>
      <if test="userIdNumber != null">
        user_id_number,
      </if>
      <if test="userState != null">
        user_state,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="userNotice != null">
        user_notice,
      </if>
      <if test="userHeadUrl != null">
        user_head_url,
      </if>
      <if test="userCreateTime != null">
        user_create_time,
      </if>
      <if test="userUpdateTime != null">
        user_update_time,
      </if>
      <if test="userCreateUserId != null">
        user_create_user_id,
      </if>
      <if test="userCreateUserName != null">
        user_create_user_name,
      </if>
      <if test="userUpdateUserId != null">
        user_update_user_id,
      </if>
      <if test="userUpdateUserName != null">
        user_update_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userOrgId != null">
        #{userOrgId,jdbcType=VARCHAR},
      </if>
      <if test="userDepId != null">
        #{userDepId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userIsValid != null">
        #{userIsValid,jdbcType=VARCHAR},
      </if>
      <if test="userIsActive != null">
        #{userIsActive,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null">
        #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="userNativePlace != null">
        #{userNativePlace,jdbcType=VARCHAR},
      </if>
      <if test="userIdNumber != null">
        #{userIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="userState != null">
        #{userState,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userNotice != null">
        #{userNotice,jdbcType=VARCHAR},
      </if>
      <if test="userHeadUrl != null">
        #{userHeadUrl,jdbcType=VARCHAR},
      </if>
      <if test="userCreateTime != null">
        #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null">
        #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userCreateUserId != null">
        #{userCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="userCreateUserName != null">
        #{userCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="userUpdateUserId != null">
        #{userUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="userUpdateUserName != null">
        #{userUpdateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csd.system.user.po.User">
    update w_user
    <set>
      <if test="userOrgId != null">
        user_org_id = #{userOrgId,jdbcType=VARCHAR},
      </if>
      <if test="userDepId != null">
        user_dep_id = #{userDepId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userIsValid != null">
        user_is_valid = #{userIsValid,jdbcType=VARCHAR},
      </if>
      <if test="userIsActive != null">
        user_is_active = #{userIsActive,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null">
        user_number = #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="userNativePlace != null">
        user_native_place = #{userNativePlace,jdbcType=VARCHAR},
      </if>
      <if test="userIdNumber != null">
        user_id_number = #{userIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="userState != null">
        user_state = #{userState,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userNotice != null">
        user_notice = #{userNotice,jdbcType=VARCHAR},
      </if>
      <if test="userHeadUrl != null">
        user_head_url = #{userHeadUrl,jdbcType=VARCHAR},
      </if>
      <if test="userCreateTime != null">
        user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null">
        user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userCreateUserId != null">
        user_create_user_id = #{userCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="userCreateUserName != null">
        user_create_user_name = #{userCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="userUpdateUserId != null">
        user_update_user_id = #{userUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="userUpdateUserName != null">
        user_update_user_name = #{userUpdateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csd.system.user.po.User">
    update w_user
    set user_org_id = #{userOrgId,jdbcType=VARCHAR},
      user_dep_id = #{userDepId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_is_valid = #{userIsValid,jdbcType=VARCHAR},
      user_is_active = #{userIsActive,jdbcType=VARCHAR},
      user_number = #{userNumber,jdbcType=INTEGER},
      user_native_place = #{userNativePlace,jdbcType=VARCHAR},
      user_id_number = #{userIdNumber,jdbcType=VARCHAR},
      user_state = #{userState,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      user_notice = #{userNotice,jdbcType=VARCHAR},
      user_head_url = #{userHeadUrl,jdbcType=VARCHAR},
      user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      user_create_user_id = #{userCreateUserId,jdbcType=VARCHAR},
      user_create_user_name = #{userCreateUserName,jdbcType=VARCHAR},
      user_update_user_id = #{userUpdateUserId,jdbcType=VARCHAR},
      user_update_user_name = #{userUpdateUserName,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from
      w_user
    where
      user_phone = #{userPhone,jdbcType=VARCHAR}
    and
      user_is_valid = '1'
  </select>
  <select id="findByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>,B.pt_job_id as ptJobId
    from
      w_user A
    left join w_pt_job B on A.user_id = B.pt_user_id
    where
      A.user_phone = #{userPhone,jdbcType=VARCHAR}
    and
      A.user_is_valid = '1'
    and
      B.pt_job_type = '1'
    and
      B.pt_is_valid = '1'
  </select>
  <select id="findUserByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>,B.pt_job_id as ptJobId
    from
      w_user A
    left join w_pt_job B on A.user_id = B.pt_user_id
    where
      B.pt_user_id = #{userId,jdbcType=VARCHAR}
    and
      A.user_is_valid = '1'
    and
      B.pt_job_type = '1'
    and
      B.pt_is_valid = '1'
  </select>
  <select id="findByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from
      w_user
    where
      user_org_id = #{orgId}
    and
      user_type = #{userType}
    <if test="busName != null and busName != ''">
      and user_name like CONCAT(CONCAT(#{busName}),'%')
    </if>
    <if test="selectOption != null and selectOption != ''">
      and user_is_active = #{selectOption}
    </if>
  </select>
</mapper>