<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csd.system.userRole.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.csd.system.userRole.po.UserRole">
    <result column="relation_role_id" jdbcType="VARCHAR" property="relationRoleId" />
    <result column="relation_job_id" jdbcType="VARCHAR" property="relationJobId" />
    <result column="relation_is_valid" jdbcType="VARCHAR" property="relationIsValid" />
  </resultMap>
  <insert id="insert" parameterType="com.csd.system.userRole.po.UserRole">
    insert into w_user_role (relation_role_id, relation_job_id, relation_is_valid
      )
    values (#{relationRoleId,jdbcType=VARCHAR}, #{relationJobId,jdbcType=VARCHAR}, #{relationIsValid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csd.system.userRole.po.UserRole">
    insert into w_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relationRoleId != null">
        relation_role_id,
      </if>
      <if test="relationJobId != null">
        relation_job_id,
      </if>
      <if test="relationIsValid != null">
        relation_is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relationRoleId != null">
        #{relationRoleId,jdbcType=VARCHAR},
      </if>
      <if test="relationJobId != null">
        #{relationJobId,jdbcType=VARCHAR},
      </if>
      <if test="relationIsValid != null">
        #{relationIsValid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertJob" parameterType="java.util.Map">
    insert into w_user_role (relation_role_id, relation_job_id, relation_is_valid)
    values
    <foreach collection="jobIds" item="jobId" index="index" separator=",">
      (#{roleId,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, #{isValid,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="deleteJob" parameterType="java.util.Map">
    update  w_user_role set relation_is_valid = #{isValid}
    where
      relation_role_id = #{roleId}
    and
      relation_job_id in
    <foreach collection="jobIds" item="jobId" index="index" open="(" close=")" separator=",">
      #{jobId}
    </foreach>
  </update>
</mapper>